* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #020509;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

.screen {
  display: none;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 18px 12px;
}

.screen.active {
  display: flex;
}

.phone {
  width: 100%;
  max-width: 430px;
  height: 850px;
  position: relative;
  overflow: hidden;
  border-radius: 34px;
  border: 1px solid #27313a;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.85);
}

/* PORTADA */
.splash-bg {
  background-image: url("assets/images/splash-enruta.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.splash-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,.05),
    rgba(0,0,0,.25),
    rgba(0,0,0,.85)
  );
}

.inicio-actions {
  position: absolute;
  left: 22px;
  right: 22px;
  bottom: 42px;
  z-index: 2;
}

.btn {
  width: 100%;
  height: 60px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 16px;
  cursor: pointer;
}

.btn i {
  margin-right: 12px;
}

.verde {
  background: linear-gradient(90deg, #43d900, #63ff00);
  border: none;
  color: white;
}

.borde {
  background: rgba(0,0,0,.48);
  border: 2px solid #52e600;
  color: white;
}

.inicio-actions p {
  text-align: center;
  font-size: 14px;
  color: white;
}

.inicio-actions span {
  color: #52e600;
  font-weight: 900;
}

/* FONDOS FORMULARIOS */
.form-bg {
  padding: 24px 22px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cliente-bg {
  background-image: url("assets/images/registro-cliente.png");
}

.repartidor-bg {
  background-image: url("assets/images/registro-repartidor.png");
}

.form-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.76);
  z-index: 0;
}

.form-bg > * {
  position: relative;
  z-index: 1;
}

/* TOP */
.top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.top button {
  position: absolute;
  left: 0;
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
}

.top h2 {
  font-size: 21px;
  font-weight: 900;
}

/* STEPS */
.steps {
  display: flex;
  align-items: center;
  margin: 0 28px 8px;
}

.steps span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #777;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.steps span.active {
  background: #52e600;
}

.line {
  flex: 1;
  height: 3px;
  background: #444;
}

.line.active {
  background: #52e600;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #aaa;
  margin-bottom: 26px;
}

.labels b {
  color: #52e600;
}

.labels p {
  color: #aaa;
}

/* INTRO */
.intro {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 22px;
}

.circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #27313a;
  color: #52e600;
  background: rgba(255,255,255,.06);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.intro h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.intro p {
  font-size: 14px;
  line-height: 1.4;
  color: #cfcfcf;
}

/* INPUTS */
.input-row {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 12px;
  margin-bottom: 14px;
  align-items: end;
}

.input-row > i {
  height: 48px;
  border-radius: 12px;
  background: rgba(16,24,32,.92);
  border: 1px solid #24313d;
  color: #52e600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

label {
  display: block;
  font-size: 13px;
  color: #e8e8e8;
  margin-bottom: 6px;
  font-weight: 800;
}

input {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #24313d;
  background: rgba(16,24,32,.92);
  color: white;
  padding: 0 14px;
  outline: none;
}

input:focus {
  border-color: #52e600;
}

/* SEGURIDAD */
.safe {
  display: flex;
  gap: 14px;
  align-items: center;
  background: rgba(16,24,32,.92);
  border: 1px solid #24313d;
  border-radius: 14px;
  padding: 14px;
  margin: 18px 0;
}

.safe i {
  color: #52e600;
  font-size: 25px;
}

.safe strong {
  font-size: 14px;
}

.safe p {
  font-size: 12px;
  color: #b8b8b8;
  margin-top: 4px;
}

/* BOTON CONTINUAR */
.continue {
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 13px;
  background: linear-gradient(90deg, #43d900, #63ff00);
  color: white;
  font-size: 17px;
  font-weight: 900;
  cursor: pointer;
}

/* DOCUMENTOS */
.doc {
  display: grid;
  grid-template-columns: 50px 1fr 78px;
  gap: 12px;
  align-items: center;
  background: rgba(16,24,32,.92);
  border: 1px solid #24313d;
  border-radius: 14px;
  padding: 11px;
  margin-bottom: 11px;
}

.doc > i {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: #121b23;
  border: 1px solid #26323d;
  color: #52e600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.doc strong {
  font-size: 15px;
}

.doc p {
  font-size: 12px;
  color: #b8b8b8;
  margin-top: 4px;
}

.doc label {
  height: 54px;
  border: 1px dashed #52e600;
  border-radius: 11px;
  color: #52e600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
